# Fase 3 Base de Datos
Ahora que tenemos las tablas, vamos a crear la Base de Datos:

In [1]:
# Importación de librerías necesarias para el proyecto

# Conexión y manejo de bases de datos PostgreSQL
# -----------------------------------------------------------------------
import psycopg2                                 # Conexión con bases de datos PostgreSQL
from psycopg2 import OperationalError, errorcodes, errors  # Manejo de errores específicos de psycopg2

# Manipulación de fechas y tiempos
# -----------------------------------------------------------------------
import datetime                                 # Manipulación de fechas y tiempos

# Manipulación de DataFrames y variables de entorno
# -----------------------------------------------------------------------
import pandas as pd                             # Manipulación y análisis de datos en estructuras DataFrame
import dotenv                                   # Manejo de variables de entorno (.env)
import os                                       # Interacción con el sistema operativo (lectura de variables de entorno)
from datetime import datetime                   # Importación específica de datetime para facilitar manejo de fechas

# Importación de módulos desde rutas recursivas
# -----------------------------------------------------------------------
import sys
sys.path.append("../")                          # Añadir rutas externas para importar módulos desde carpetas superiores
from src.SupportDB import (
    conectarse_a_bd,
    modificar_bd,
    insertar_muchos_datos_bd,
    generar_tupla
)                                              # Funciones de soporte para manipulación y modificación en la base de datos

# Crear Base de Datos
Para ello en DBeaver abrimos PostgreSQL, hacemos click izquierdo y pulsamos en:

![image.png](../src/01_png/03_DBeaver.png)

La llamo: historicos con los siguientes ajustes:

![image.png](../src/01_png/04_DBeaver_newDB.png)

# Conectarnos a la base de Datos
Con una función nos conectamos, como hace timeout, la tendremos que invocar múltiples veces en el código

In [2]:
key = os.getenv("sql")
user = "postgres"
db = "historicos"

Llamaremos a lo de abajo el resto del tiempo

In [3]:
conexion = conectarse_a_bd(db,user,key)
cursor = conexion.cursor()

Conectado a la base de datos: historicos

# Crear tabla supermercados
- supermercado
    - id_supermercado SERIAL PRIMARY KEY, 
    - supermercado VARCHAR (100) NOT NULL

### Cargar el DF

In [4]:
df_supermercados = pd.read_csv("../datos/02_tabla_supermercados.csv",index_col="Unnamed: 0")
df_supermercados.sample()

   index supermercado
4      5     hipercor

### Conectarse, Crear la tabla y cerrar conexión

In [5]:
conexion = conectarse_a_bd(db,user,key)
query = '''CREATE TABLE IF NOT EXISTS supermercados (
            id_supermercado SERIAL PRIMARY KEY,
            supermercado VARCHAR(100) NOT NULL);'''
modificar_bd(conexion,query)

Conectado a la base de datos: historicos
Se ha modificado correctamente la base de Datos

### Añadir datos a la tabla
Primero vamos a generar una tupla de la columna supermercado de nuestro df

In [6]:
tupla_supermercado = generar_tupla(df_supermercados,drop_index=True)

y realizamos la query para añadir los valores

Si deseas hacerla tú,descomenta el código, esto se realiza para evitar duplicar los datos

In [7]:
conexion = conectarse_a_bd(db,user,key)
query = """ INSERT INTO supermercados(supermercado) VALUES (%s)"""
#insertar_muchos_datos_bd(conexion,query,tupla_supermercado)

Conectado a la base de datos: historicos
Se han añadido los valores correctamente

# Crear tabla categorias
- categoria
    - id_categoria SERIAL PRIMARY KEY,
    - categoria VARCHAR (100) NOT NULL

### Cargar el DF

In [8]:
df_categorias = pd.read_csv("../datos/03_tabla_categorias.csv",index_col="Unnamed: 0")
df_categorias.sample()

   index                        categoria
1      2  aceite de oliva suave e intenso

### Conectarse, Crear la tabla y cerrar conexión

In [9]:
conexion = conectarse_a_bd(db,user,key)
query = '''CREATE TABLE IF NOT EXISTS categorias (
            id_categoria SERIAL PRIMARY KEY,
            categoria VARCHAR(100) NOT NULL);'''
modificar_bd(conexion,query)

Conectado a la base de datos: historicos
Se ha modificado correctamente la base de Datos

### Añadir datos a la tabla
Primero vamos a generar una tupla de la columna supermercado de nuestro df

In [10]:
tupla_categorias = generar_tupla(df_categorias,drop_index=True)

y realizamos la query para añadir los valores

Si deseas hacerla tú,descomenta el código, esto se realiza para evitar duplicar los datos

In [11]:
conexion = conectarse_a_bd(db,user,key)
query = """ INSERT INTO categorias(categoria) VALUES (%s)"""
#insertar_muchos_datos_bd(conexion,query,tupla_categorias)

Conectado a la base de datos: historicos
Se han añadido los valores correctamente

# Crear tabla productos
- producto
    - id_producto SERIAL PRIMARY KEY,
    - producto VARCHAR (1000) NOT NULL

### Cargar el DF

In [12]:
df_productos = pd.read_csv("../datos/04_tabla_productos.csv",index_col="Unnamed: 0")
df_productos.sample()

    index                                           producto
76     77  Aceite De Oliva Virgen Extra Arbequina Carrefo...

### Conectarse, Crear la tabla y cerrar conexión

In [13]:
conexion = conectarse_a_bd(db,user,key)
query = '''CREATE TABLE IF NOT EXISTS productos (
            id_producto SERIAL PRIMARY KEY,
            producto VARCHAR(1000) NOT NULL);'''
modificar_bd(conexion,query)

Conectado a la base de datos: historicos
Se ha modificado correctamente la base de Datos

### Añadir datos a la tabla
Primero vamos a generar una tupla de la columna supermercado de nuestro df

In [14]:
tupla_productos = generar_tupla(df_productos,drop_index=True)

y realizamos la query para añadir los valores

Si deseas hacerla tú,descomenta el código, esto se realiza para evitar duplicar los datos

In [15]:
conexion = conectarse_a_bd(db,user,key)
query = """ INSERT INTO productos(producto) VALUES (%s)"""
#insertar_muchos_datos_bd(conexion,query,tupla_productos)

Conectado a la base de datos: historicos
Se han añadido los valores correctamente

# Crear tabla historicos
- historicos
    - id_supermercado INT NOT NULL
    - fecha DATE,
    - id_producto INT NOT NULL,
    - id_categoria INT NOT NULL,
    - variacion (€) DECIMAL(5,2) NOT NULL,
    - variacion (%) DECIMAL (5,2) NOT NULL,
    - FOREIGN KEY (id_producto) REFERENCES productos (id_producto) ON UPDATE CASCADE ON DELETE RESTRICT,
    - FOREIGN KEY (id_categoria) REFERENCES categorias (id_categoria) ON UPDATE CASCADE ON DELETE RESTRICT,
    - FOREIGN KEY (id_supermercado) REFERENCES supermercados (id_supermercado) ON UPDATE CASCADE ON DELETE RESTRICT,

### Cargar el DF

In [16]:
df_historicos = pd.read_csv("../datos/05_tabla_historico.csv",index_col="Unnamed: 0")
df_historicos.sample()

,supermercado,categoria,producto,fecha,precio (€),variacion (€),variacion (%)
44158,4,2,548,2024-08-25,8.94,0.0,0.0

### Convertir las tablas al formato correcto

las pasaremos como datetime

In [17]:
df_historicos["fecha"] = pd.to_datetime(df_historicos["fecha"])

### Conectarse, Crear la tabla y cerrar conexión

In [18]:
conexion = conectarse_a_bd(db,user,key)
query = '''CREATE TABLE IF NOT EXISTS historicos (
            id_supermercado INT NOT NULL,
            id_categoria INT NOT NULL,
            id_producto INT NOT NULL,
            fecha DATE NOT NULL,
            precio FLOAT NOT NULL,
            variacion_euros FLOAT NOT NULL,
            variacion_porcentaje FLOAT NOT NULL,
            FOREIGN KEY (id_producto) REFERENCES productos (id_producto) ON UPDATE CASCADE ON DELETE RESTRICT,
            FOREIGN KEY (id_categoria) REFERENCES categorias (id_categoria) ON UPDATE CASCADE ON DELETE RESTRICT,
            FOREIGN KEY (id_supermercado) REFERENCES supermercados (id_supermercado) ON UPDATE CASCADE ON DELETE RESTRICT);'''

modificar_bd(conexion,query)

Conectado a la base de datos: historicos
Se ha modificado correctamente la base de Datos

### Añadir datos a la tabla
Primero vamos a generar una tupla de la columna supermercado de nuestro df

In [19]:
tupla_historicos = generar_tupla(df_historicos)

y realizamos la query para añadir los valores

Si deseas hacerla tú,descomenta el código, esto se realiza para evitar duplicar los datos

In [20]:
conexion = conectarse_a_bd(db,user,key)
query = """ INSERT INTO historicos(id_supermercado,id_categoria,id_producto,fecha,precio,variacion_euros,variacion_porcentaje) VALUES (%s,%s,%s,%s,%s,%s,%s)"""
#insertar_muchos_datos_bd(conexion,query,tupla_historicos)

Conectado a la base de datos: historicos
Se han añadido los valores correctamente