# Fase 3 Base de Datos
Ahora que tenemos las tablas, vamos a crear la Base de Datos:

In [2]:
# importamos las librerías con las que vamos a trabajar

# Trabajar con bases de datos y python
# -----------------------------------------------------------------------
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors


# Trabajar con DataFrames
# -----------------------------------------------------------------------
import pandas as pd

from geopy.geocoders import Nominatim
import dotenv    
import os

from datetime import datetime
# Importación de módulos desde rutas recursivas
# -----------------------------------------------------------------------
import sys
sys.path.append("../")  # Añadir rutas externas para poder importar módulos desde carpetas superiores
from src.SupportDB import conectarse_a_bd,modificar_bd

# Crear Base de Datos
Para ello en DBeaver abrimos PostgreSQL, hacemos click izquierdo y pulsamos en:

![image.png](../src/01_png/03_DBeaver.png)

La llamo: historicos con los siguientes ajustes:

![image.png](../src/01_png/04_DBeaver_newDB.png)

# Conectarnos a la base de Datos
Con una función nos conectamos, como hace timeout, la tendremos que invocar múltiples veces en el código

In [12]:
key = os.getenv("sql")
user = "postgres"
db = "historicos"

Llamaremos a lo de abajo el resto del tiempo

In [3]:
conexion = conectarse_a_bd(db,user,key)
cursor = conexion.cursor()

Conectado a la base de datos: historicos

# Crear tabla supermercados
- supermercado
    - id_supermercado SERIAL NOT NULL, 
    - supermercado VARCHAR (100) UNIQUE NOT NULL

### Cargar el DF

In [6]:
df_supermercados = pd.read_csv("../datos/02_tabla_supermercados.csv",index_col="Unnamed: 0")
df_supermercados.sample()

   index supermercado
4      5     hipercor

### Conectarse, Crear la tabla y cerrar conexión

In [ ]:
conexion = conectarse_a_bd(db,user,key)

In [ ]:
query = ''' '''
modificar_bd(conexion,query)

# Crear tabla categorias
- categoria
    - id_categoria SERIAL NOT NULL,
    - categoria VARCHAR (100) UNIQUE NOT NULL

### Cargar el DF

In [7]:
df_categorias = pd.read_csv("../datos/03_tabla_categorias.csv",index_col="Unnamed: 0")
df_categorias.sample()

   index               categoria
2      3  aceite de oliva virgen

# Crear tabla productos
- producto
    - id_producto SERIAL NOT NULL,
    - producto VARCHAR (1000) UNIQUE NOT NULL

### Cargar el DF

In [9]:
df_productos = pd.read_csv("../datos/04_tabla_productos.csv",index_col="Unnamed: 0")
df_productos.sample()

     index                                   producto
470    471  Leche Semidesnatada Asturiana, Brik 50 Cl

# Crear tabla historicos
- historicos
    - fecha DATE,
    - id_producto INT NOT NULL,
    - variacion (€) DECIMAL(5,2) NOT NULL,
    - variacion (%) DECIMAL (5,2) NOT NULL,
    - id_categoria INT NOT NULL,
    - id_supermercado INT NOT NULL

### Cargar el DF

In [11]:
df_historicos = pd.read_csv("../datos/05_tabla_historico.csv",index_col="Unnamed: 0")
df_historicos.sample()

,supermercado,categoria,producto,fecha,precio (€),variacion (€),variacion (%)
54663,4,7,655,2024-09-22,8.58,0.0,0.0